body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carta {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.carta h1 {
    color: #ff3366;
}

.carta p {
    color: #333333;
}
